@import "../theme.scss";

:host {
  width: 250px;
  max-width: 250px;
}

.tab-header {
  color: $text-color;
  background-color: $primary-color;
  border-top: 2px solid $primary-color--darker;
  border-left: 2px solid $primary-color--darker;
  border-right: 2px solid $primary-color--darker;
  border-radius: $border-radius $border-radius 0 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: $primary-color--lighter;
  }

  &:active {
    background-color: $primary-color--active;
  }
}

.tab-content {
  background-color: white;
  border-left: 2px solid $primary-color--darker;
  border-right: 2px solid $primary-color--darker;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow-y: scroll;
}
